vendor/
writable/cache/*
!writable/cache/.gitkeep
writable/logs/*
!writable/logs/.gitkeep
writable/session/*
!writable/session/.gitkeep
writable/uploads/*
!writable/uploads/.gitkeep
.env
.phpunit.result.cache
composer.lock
node_modules/
